<h2>
  <span class="text-secondary"><%= data.pageTitle %></span>
  <%= data.report.report.name %>
</h2>
<div>
  дата создания:
  <%= data.report.report.date.toLocaleDateString() %>
</div>
<div class="page-layout__wrapper">
  <div class="main__top">
    <form
      class="form form--vertical form--edit-option"
      method="post"
      accept-charset="utf-8"
      url="./"
    >
      <div class="form__body form__body--background form__body--disabled">
        <label>
          <div class="label-text">Название отчета</div>
          <input
            class="form-control"
            type="text"
            value="<%= data.report.report.name %>"
            name="reportName"
            disabled
          />
        </label>
        <label>
          <div class="label-text">Комментарий к отчету</div>
          <!-- prettier-ignore -->
          <textarea name="reportDescription" class="form-control form-control--textarea" disabled><%= data.report.report.description %></textarea>
        </label>
        <button
          class="btn btn-outline-primary"
          type="submit"
          disabled
          id="btn-save-report-data"
        >
          Сохранить изменения
        </button>

        <button class="btn-reset btn-flow" type="button">
          <svg class="sprite-icon">
            <use xlink:href="#pencil-fill"></use>
          </svg>
        </button>
      </div>
    </form>
    <a
      class="btn btn-icon btn-outline-primary"
      href="/work-space/reports/<%= data.report.report.id %>/export-report"
      download="report.xlsx"
    >
      <svg class="sprite-icon">
        <use xlink:href="#cloud-download"></use>
      </svg>
      Скачать отчет
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Пост</th>
        <th data-bs-toggle="tooltip" data-bs-title="Количество лайков">
          <svg class="sprite-icon">
            <use xlink:href="#heart-fill"></use>
          </svg>
        </th>
        <th data-bs-toggle="tooltip" data-bs-title="Количество просмотров">
          <svg class="sprite-icon">
            <use xlink:href="#eye-fill"></use>
          </svg>
        </th>
        <th data-bs-toggle="tooltip" data-bs-title="Количество комментариев">
          <svg class="sprite-icon">
            <use xlink:href="#chat-right-text-fill"></use>
          </svg>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody id="comment-list">
      <% data.report.commentList.forEach((item, index) => { %>
      <tr>
        <td>
          <div class="tech-info">
            <div class="tech-info__item">
              <svg class="sprite-icon">
                <use xlink:href="#calendar2-date"></use>
              </svg>
              <%= new Date(item.post.post.date * 1000).toLocaleDateString() %>
            </div>
          </div>
          <strong><%= item.groupName %></strong>
          <div><%= item.post.post.text.slice(0, 200) %>...</div>
        </td>
        <td>
          <div class="tech-info tech-info--split">
            <div class="tech-info__item">
              <svg class="sprite-icon">
                <use xlink:href="#heart-fill"></use>
              </svg>
              <%= item.post.post.likes?.count.toLocaleString() || 0 %>
            </div>
          </div>
        </td>
        <td>
          <div class="tech-info tech-info--split">
            <div class="tech-info__item">
              <svg class="sprite-icon">
                <use xlink:href="#eye-fill"></use>
              </svg>
              <%= item.post.post.views?.count.toLocaleString() || 0 %>
            </div>
          </div>
        </td>
        <td>
          <div class="tech-info tech-info--split">
            <div class="tech-info__item">
              <svg class="sprite-icon">
                <use xlink:href="#chat-right-text-fill"></use>
              </svg>
              <%= item.post.post.comments?.count.toLocaleString() || 0 %>
            </div>
          </div>
        </td>

        <td>
          <!-- prettier-ignore -->
          <textarea class="form-control form-control--textarea js-post-comment" id="js-post-comment-<%= item.commentId %>" data-btn-save-id="btn-save-post-comment-<%= item.commentId %>" ><%= item.commentText %></textarea>
        </td>
        <td>
          <div class="flex">
            <button
              class="btn-reset btn-icon btn--danger js-btn-delete-comment"
              type="button"
              data-comment-id="<%= item.commentId %>"
            >
              <svg class="sprite-icon">
                <use xlink:href="#trash-fill"></use>
              </svg>
            </button>
            <button
              class="btn-reset btn-icon btn--primary js-btn-save-comment"
              type="button"
              id="btn-save-post-comment-<%= item.commentId %>"
              data-comment-id="<%= item.commentId %>"
              data-textarea-id="js-post-comment-<%= item.commentId %>"
              disabled
            >
              <svg class="sprite-icon">
                <use xlink:href="#save-fill"></use>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
