<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head.ejs', {title: data.pageTitle}) %>
  <body>
    <div id="root">
      <div class="page-layout">
        <!-- prettier-ignore -->
        <%- include('../components/header.ejs') %>
        <!-- prettier-ignore -->
        <%- include('../components/aside.ejs', {currentPage: data.currentPage}) %>

        <main class="page-layout__main page-layout__section main">
          <div class="page-layout__wrapper">
            <div id="groups-table"></div>
            <table class="table table--groups">
              <thead>
                <tr>
                  <td colspan="5" class="table__pagination-cell">
                    <!-- prettier-ignore -->
                    <%- include('../components/pagination.ejs', 
                        {total: data.userGroupList.total, offset: data.userGroupList.offset, limit: data.userGroupList.limit,} ) 
                    %>
                  </td>
                </tr>
                <tr>
                  <th colspan="2">
                    Название
                    <input
                      class="form-control"
                      placeholder="номер или название группы"
                      type="text"
                      aria-label="Search"
                      id="nameSearch"
                    />
                  </th>
                  <th>
                    Сканировать
                    <select
                      class="form-select"
                      aria-label="Фильтр по значению сканировать"
                      onchange="createRequest('is_scan', this.value)"
                    >
                      <!-- prettier-ignore -->
                      <option value="">Все</option>
                      <option <% if (data.currentIsScan == 1) { %>selected<% } %> value="1">Да</option>
                      <option <% if (data.currentIsScan == 0) { %>selected<% } %> value="0">Нет</option>
                    </select>
                  </th>
                  <th>Тип группы</th>
                  <th>
                    Последнее <br />
                    обновление
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data.userGroupList.groups.forEach((group) => { %>
                <tr>
                  <td>
                    <img
                      class="logo"
                      src="<%= group.photo %>"
                      alt="иконка группы ВК"
                    />
                  </td>
                  <td>
                    <div><%= group.name %></div>
                    <div class="id"><%= group.vkid %></div>
                  </td>

                  <!--  TODO добавить отображение статуса сканирования и весь функционал -->
                  <td><input class="form-check-input" type="checkbox" /></td>
                  <td>
                    <%= group.is_private ? 'Приватная' : 'Публичная' %>
                  </td>
                  <td>
                    <!-- prettier-ignore -->
                    <%= Intl.DateTimeFormat().format(group.last_group_scan_date)%>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
    <script src="/js/search-data.js"></script>
  </body>
</html>
