<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head.ejs', {title: data.page_title}) %>
  <body>
    <div id="root">
      <div class="page-layout">
        <!-- prettier-ignore -->
        <%- include('../components/header.ejs') %>
        <!-- prettier-ignore -->
        <%- include('../components/aside.ejs') %>

        <main class="page-layout__main page-layout__section main">
          <h2><%= data.pageTitle %></h2>
          <div class="page-layout__wrapper">
            <!-- prettier-ignore -->
            <%- include('../components/pagination.ejs', 
                {total: data.postList.total, offset: data.postList.offset, limit: data.postList.limit,} ) 
            %>
            <table class="table">
              <thead>
                <tr>
                  <td colspan="3" class="table__pagination-cell"></td>
                </tr>
                <tr>
                  <td colspan="3">
                    <form
                      class="form"
                      method="post"
                      accept-charset="utf-8"
                      url="./?offset=0&limit=20"
                    >
                      <label>
                        <div>Мин. кол-во лайков</div>
                        <input
                          class="form-control"
                          type="number"
                          name="likesMin"
                        />
                      </label>

                      <label>
                        <div>Мин. кол-во просмотров</div>
                        <input
                          class="form-control"
                          type="number"
                          name="viewsMin"
                        />
                      </label>

                      <label>
                        <div>Дата от</div>
                        <input
                          class="form-control"
                          type="date"
                          name="begDate"
                        />
                      </label>

                      <label>
                        <div>Дата до</div>
                        <input
                          class="form-control"
                          type="date"
                          name="endDate"
                        />
                      </label>
                      <button
                        class="btn btn-primary form__submit"
                        type="submit"
                      >
                        Отправить
                      </button>
                    </form>
                  </td>
                </tr>
                <tr>
                  <th>Пост</th>
                  <th>
                    <img
                      src="/img/bootstrap-icons/heart-fill.svg"
                      alt="Нравится"
                    />
                  </th>
                  <th>
                    <img
                      src="/img/bootstrap-icons/eye-fill.svg"
                      alt="Просмотры"
                    />
                  </th>
                </tr>
                <tr></tr>
              </thead>

              <tbody>
                <% data.postList.posts.forEach((item) => { %>
                <tr>
                  <td>
                    <div>
                      <strong><%= item.group.name %></strong>
                    </div>
                    <div><%= item.post.text.slice(0, 200) %>...</div>
                  </td>
                  <td>
                    <%= item.post.likes.count %>
                  </td>
                  <td>
                    <%= item.post.views.count %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
