<!DOCTYPE html>
<html lang="ru">
  <%- include('../components/head.ejs', {title: data.pageTitle}) %>
  <body>
    <svg width="0" height="0" class="hide">
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="sort-down"
      >
        <path
          d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"
        ></path>
      </symbol>
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="sort-up"
      >
        <path
          d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.5.5 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"
        ></path>
      </symbol>
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="zoom-in"
      >
        <path
          fill-rule="evenodd"
          d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0"
        ></path>
        <path
          d="M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z"
        ></path>
        <path
          fill-rule="evenodd"
          d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5"
        ></path>
      </symbol>

      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="x-circle"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        ></path>
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        ></path>
      </symbol>
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="calendar2-date"
      >
        <path
          d="M6.445 12.688V7.354h-.633A13 13 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"
        ></path>
        <path
          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"
        ></path>
        <path
          d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"
        ></path>
      </symbol>
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="cloud-upload-fill"
      >
        <path
          fill-rule="evenodd"
          d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0"
        ></path>
      </symbol>
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="upload"
      >
        <path
          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
        ></path>
        <path
          d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"
        ></path>
      </symbol>
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="cloud-upload"
      >
        <path
          fill-rule="evenodd"
          d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"
        ></path>
        <path
          fill-rule="evenodd"
          d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"
        ></path>
      </symbol>

      <symbol
        xmlns="http://www.w3.org/2000/svg"
        id="heart-fill"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
        />
      </symbol>

      <symbol
        xmlns="http://www.w3.org/2000/svg"
        id="eye-fill"
        viewBox="0 0 16 16"
      >
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
        <path
          d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
        />
      </symbol>

      <symbol
        xmlns="http://www.w3.org/2000/svg"
        id="chat-right-text-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"
        />
      </symbol>

      <!-- icon666.com - MILLIONS vector ICONS FREE -->
      <symbol
        id="reset-filter"
        enable-background="new 0 0 512 512"
        viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g>
          <path
            d="m215.546 85.327h-162.264c-18.073 0-28.679 20.379-18.31 35.187.133.199-3.448-4.682 130.024 177.006 5.921 8.587 4.149-.599 4.149 190.987 0 19.245 21.993 30.358 37.542 18.791 57.536-43.372 71.516-48.257 71.516-70.955 0-133.909-1.721-130.311 4.149-138.823l27.851-37.923c-70.082-25.496-112.087-99.608-94.657-174.27z"
          />
          <path
            d="m281.951 30.166c-75.076 67.31-38.685 187.35 55.962 206.05 75.479 15.948 143.193-43.867 143.193-116.945 0-102.594-122.364-157.159-199.155-89.105zm118.529 106.804c9.515 9.466 2.715 25.676-10.603 25.676-8.014 0-10.022-3.79-28.462-22.158-18.064 17.984-20.27 22.158-28.472 22.158-13.349 0-20.063-16.264-10.603-25.676l17.769-17.699-17.769-17.699c-14.107-14.035 7.142-35.322 21.216-21.297l17.859 17.779 17.849-17.779c14.074-14.025 35.331 7.254 21.216 21.297l-17.769 17.699z"
          />
        </g>
      </symbol>
    </svg>

    <div id="root">
      <%- include('../components/pop-up.ejs') %>

      <!-- prettier-ignore -->
      <% let bodyParams = {
        likesMin: data.likesMin,
        viewsMin: data.viewsMin,
        begDate: data.begDate,
        endDate: data.endDate
       } %>
      <!-- TODO проверить, нужны ли total, offset, limit    -->

      <%- include('../components/report-post-modal.ejs', {reportList: data.reportList}) %>
      <%- include('../components/post-view-modal.ejs') %>
      <div class="page-layout">
        <!-- prettier-ignore -->
        <%- include('../components/nav-section.ejs') %>

        <main
          class="page-layout__main page-layout__section main"
          id="main"
          data-ws-likes-min="<%= bodyParams.likesMin %>"
          data-ws-views-min="<%= bodyParams.viewsMin %>"
          data-ws-beg-date="<%= bodyParams.begDate %>"
          data-ws-end-date="<%= bodyParams.endDate %>"
          data-ws-sort-by-likes="<%= data.sortByLikes %>"
          data-ws-sort-by-views="<%= data.sortByViews %>"
          data-ws-sort-by-comments="<%= data.sortByComments %>"
          data-ws-offset="<%= data.postList.offset %>"
          data-ws-limit="<%= data.postList.limit %>"
        >
          <h2><%= data.pageTitle %></h2>
          <div class="page-layout__wrapper">
            <table class="table">
              <thead>
                <tr>
                  <td colspan="6" class="table__pagination-cell">
                    <!-- prettier-ignore -->
                    <% let params = `&likesMin=${data.likesMin}&viewsMin=${data.viewsMin}&begDate=${data.begDate}&endDate=${data.endDate}&sortByLikes=${data.sortByLikes}&sortByViews=${data.sortByViews}&sortByComments=${data.sortByComments}` %>
                    <%- include('../components/pagination.ejs', 
                        {total: data.postList.total, offset: data.postList.offset, limit: data.postList.limit, params } ) 
                    %>
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="td--form">
                    <form
                      class="form"
                      method="get"
                      accept-charset="utf-8"
                      url="./?offset=0&limit=20"
                      id="form-sort"
                    >
                      <label>
                        <div class="label-text">Мин. кол-во лайков</div>
                        <!-- prettier-ignore -->
                        <input
                          class="form-control"
                          type="number"
                          name="likesMin"
                          <% if (data.likesMin) { %>
                        value="<%= data.likesMin%>" <% } %> />
                      </label>

                      <label>
                        <div class="label-text">Мин. кол-во просмотров</div>
                        <!-- prettier-ignore -->
                        <input
                          class="form-control"
                          type="number"
                          name="viewsMin"
                          <% if (data.viewsMin) { %>
                        value="<%= data.viewsMin%>" <% } %> />
                      </label>
                      <label>
                        <div class="label-text">Дата от</div>

                        <input
                          class="form-control"
                          type="date"
                          name="begDate"
                          value="<%= data.begDate || ''  %>"
                        />
                      </label>

                      <label>
                        <div class="label-text">Дата до</div>
                        <input
                          class="form-control"
                          type="date"
                          name="endDate"
                          value="<%= data.endDate || '' %>"
                        />
                      </label>
                      <button
                        class="btn btn-outline-primary form__submit"
                        type="submit"
                      >
                        Фильтровать
                      </button>
                      <!-- TODO повесить действие -->
                      <button
                        class="btn btn-outline-danger"
                        data-bs-toggle="tooltip"
                        data-bs-title="Сбросить фильтры"
                        type="reset"
                      >
                        <svg class="sprite-icon">
                          <use xlink:href="#reset-filter"></use>
                        </svg>
                      </button>
                    </form>
                  </td>
                </tr>
                <tr>
                  <th>Пост</th>
                  <th>
                    <div
                      class="table__flex"
                      data-bs-toggle="tooltip"
                      data-bs-title="Количество лайков"
                    >
                      <svg class="sprite-icon">
                        <use xlink:href="#heart-fill"></use>
                      </svg>

                      <% activeClass = data.sortByLikes !== 0 ? 'table__btn-icon--active' : ''  %>
                      <% imgId = data.sortByLikes === 2 ? '#sort-down' : '#sort-up' %>
                      <button
                        class="btn-reset table__btn-icon <%= activeClass %>"
                        id="likes-btn-sort"
                      >
                        <svg class="sprite-icon">
                          <use xlink:href="<%= imgId %>"></use>
                        </svg>
                      </button>
                    </div>
                  </th>

                  <th>
                    <div
                      class="table__flex"
                      data-bs-toggle="tooltip"
                      data-bs-title="Количество просмотров"
                    >
                      <svg class="sprite-icon">
                        <use xlink:href="#eye-fill"></use>
                      </svg>

                      <% activeClass = data.sortByViews !== 0 ? 'table__btn-icon--active' : ''  %>
                      <% imgId = data.sortByViews === 2 ? '#sort-down' : '#sort-up' %>
                      <button
                        class="btn-reset table__btn-icon <%= activeClass %>"
                        id="views-btn-sort"
                      >
                        <svg class="sprite-icon">
                          <use xlink:href="<%= imgId %>"></use>
                        </svg>
                      </button>
                    </div>
                  </th>

                  <th>
                    <div
                      class="table__flex"
                      data-bs-toggle="tooltip"
                      data-bs-title="Количество комментариев"
                    >
                      <svg class="sprite-icon">
                        <use xlink:href="#chat-right-text-fill"></use>
                      </svg>

                      <% activeClass = data.sortByComments !== 0 ? 'table__btn-icon--active' : ''  %>
                      <% imgId = data.sortByComments === 2 ? '#sort-down' : '#sort-up' %>
                      <button
                        class="btn-reset table__btn-icon <%= activeClass %>"
                        id="comments-btn-sort"
                      >
                        <svg class="sprite-icon">
                          <use xlink:href="<%= imgId %>"></use>
                        </svg>
                      </button>
                    </div>
                  </th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% data.postList.posts.forEach((item) => { %>
                <tr>
                  <td>
                    <div class="ceil-body">
                      <% let imgPath %>
                      <!-- prettier-ignore -->
                      <% if (item?.post.attachments?.length > 0) {%>
                      <% imgPath = item?.post.attachments[0]?.photo?.orig_photo?.url || '' %>
                      <% } else { %>
                      <% imgPath = '' %>
                      <% } %>
                      <button
                        class="btn-reset table__btn-icon table__btn-icon--local ceil-body__btn ceil-body__btn--up btn-post-view"
                        data-bs-toggle="tooltip"
                        data-bs-title="Посмотреть пост"
                        data-ws-img-path="<%= imgPath %>"
                        data-ws-group-name="<%= item.group.name %>"
                        data-ws-text="<%= item?.post.text %>"
                      >
                        <svg class="sprite-icon">
                          <use xlink:href="#zoom-in"></use>
                        </svg>
                      </button>
                      <div>
                        <div class="tech-info">
                          <div class="tech-info__item">
                            <svg class="sprite-icon">
                              <use xlink:href="#calendar2-date"></use>
                            </svg>
                            <%= new Date(item?.post.date * 1000).toLocaleDateString() %>
                          </div>
                        </div>
                      </div>
                      <strong><%= item.group.name %></strong>
                      <div><%= item?.post?.text?.slice(0, 200) %>...</div>
                    </div>
                  </td>

                  <td>
                    <div class="tech-info tech-info--split">
                      <div class="tech-info__item">
                        <svg class="sprite-icon">
                          <use xlink:href="#heart-fill"></use>
                        </svg>
                        <%= item?.post.likes?.count.toLocaleString() || 0 %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="tech-info tech-info--split">
                      <div class="tech-info__item">
                        <svg class="sprite-icon">
                          <use xlink:href="#eye-fill"></use>
                        </svg>
                        <%= item?.post.views?.count.toLocaleString() || 0 %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="tech-info tech-info--split">
                      <div class="tech-info__item">
                        <svg class="sprite-icon">
                          <use xlink:href="#chat-right-text-fill"></use>
                        </svg>
                        <%= item?.post.comments?.count.toLocaleString() || 0 %>
                      </div>
                    </div>
                  </td>
                  <td align="center">
                    <button
                      class="btn btn-outline-success js-btn-add-to-report"
                      name="addToReport"
                      data-ws-post-id="<%= item.id %>"
                    >
                      Добавить в отчет
                    </button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
      <!!-- root -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script src="/js/utils/pop-up.js"></script>

    <script src="/js/utils/call-popup.js"></script>
    <script src="/js/post-page.js?v<%= new Date().getTime() %>"></script>

    <script src="/js/fetch-data.js"></script>
    <script src="/js/post-view.js"></script>
    <script defer src="/js/utils/tooltip-init.js"></script>

    <% if ( data.message) { %>
    <script>
      const message = '<%= data.message %>';
      callPopup(message);
    </script>
    <% } %>
  </body>
</html>
